@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('general-sans.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Koulen';
}

a {
	@apply text-crayola;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.contain {
	@apply mx-auto w-[90%] max-w-7xl;
}
